/* dividers */
.top-divider,
.middle-divider,
.bottom-divider {
  height: 3.5rem;
  background-color: #f4f4f4;
  border-width: 1px 0;
}
.upper-divider {
  background-color: #fff;
}
.middle-divider {
  height: 2.5rem;
}
.middle-divider span {
  font-size: 15px;
}
.bottom-divider {
  height: 20rem;
}
.footer {
  padding: 30px;
  background-color: #292b2c;
}
.footer a {
  text-decoration: none;
  padding: 5px;
}
.footer span > a,
.footer ul > li > a {
  font-size: smaller;
}
.footer small {
  font-size: 11px;
}
/* main-content */
.main-content {
  margin: 165px 0 0 0;
  padding: 30px 30px 45px 30px;
}
/* page */
body {
  font-family: Arial, Verdana, serif;
}
/* container */
.container .sbf-top {
  padding: 15px;
}
.container .sbf-top i {
  margin: 0 5px;
  vertical-align: middle;
}
.container .sbf-top ul {
  font-size: 20px;
  font-weight: lighter;
  float: right;
}
.container .sbf-top ul > li > a {
  font-weight: 500;
  font-size: small;
}
.container .sbf-header {
  padding: 15px;
}
.container .sbf-header div > i {
  padding: 0 15px;
}
/* inputs */
.sbf-busca {
  width: 180px;
  padding-left: 25px;
  border-radius: 2.5rem;
  border: solid thin #f4f4f4;
  background-color: #f4f4f4;
  height: 2.5rem;
  outline: none;
}
.sbf-busca:focus,
.sbf-busca-coordenada:focus {
  outline: none;
}
.sbf-busca::-webkit-input-placeholder {
  font-size: small;
}
.sbf-busca-icon {
  border-radius: 2.5rem;
  background-color: #f4f4f4;
  padding: 8px 0 8px 15px;
  align-items: center;
}
.sbf-busca-coordenada {
  width: 450px;
  padding-left: 10px;
  height: 3rem;
  border-radius: 2.5rem;
  border-left: none;
  border-top: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  background-color: #fff;
}
.sbf-busca-coordenada::-webkit-input-placeholder {
  font-size: medium;
}
.sbf-busca-coordenada-icon {
  border-radius: 2.5rem;
  border: solid 1px #ccc;
  background-color: #fff;
  padding: 11px 0 11px 20px;
  align-items: center;
}
/* icons padding */
.i-sbf-pd-1 {
  padding: 0 1px;
}
.i-sbf-pd-2 {
  padding: 0 2px;
}
.i-sbf-pd-3 {
  padding: 0 3px;
}
.i-sbf-pd-4 {
  padding: 0 4px;
}
.i-sbf-pd-5 {
  padding: 0 5px;
}
.i-sbf-pd-6 {
  padding: 0 6px;
}
.i-sbf-pd-7 {
  padding: 0 7px;
}
.i-sbf-pd-8 {
  padding: 0 8px;
}
.i-sbf-pd-9 {
  padding: 0 9px;
}
.i-sbf-pd-10 {
  padding: 0 10px;
}
.i-sbf-pd-11 {
  padding: 0 11px;
}
.i-sbf-pd-12 {
  padding: 0 12px;
}
.i-sbf-pd-13 {
  padding: 0 13px;
}
.i-sbf-pd-14 {
  padding: 0 14px;
}
.i-sbf-pd-15 {
  padding: 0 15px;
}
.i-sbf-pd-16 {
  padding: 0 16px;
}
.i-sbf-pd-17 {
  padding: 0 17px;
}
.i-sbf-pd-18 {
  padding: 0 18px;
}
.i-sbf-pd-19 {
  padding: 0 19px;
}
.i-sbf-pd-20 {
  padding: 0 20px;
}
/* icons generate */
.i-sbf-close {
  content: url("../imagens/icon_close.svg");
}
.i-sbf-lupa {
  content: url("../imagens/icon_lupa.svg");
}
.i-sbf-pin-link {
  content: url("../imagens/icon_pin_link.svg");
}
.i-sbf-pin-mapa {
  content: url("../imagens/icon_pin_mapa.svg");
}
.i-sbf-sacola {
  content: url("../imagens/icon_sacola.svg");
}
.i-sbf-seta-baixo {
  content: url("../imagens/icon_seta_baixo.svg");
}
.i-sbf-seta-direita {
  content: url("../imagens/icon_seta_direita.svg");
}
.i-sbf-seta-esquerda {
  content: url("../imagens/icon_seta_esquerda.svg");
}
.i-sbf-seta-esquerda {
  content: url("../imagens/icon_seta_esquerda.svg");
}
.i-sbf-jordan {
  content: url("../imagens/logo_Jordan.svg");
}
.i-sbf-nike {
  content: url("../imagens/logo_nike.svg");
}
.i-sbf-nike-snkrs {
  content: url("../imagens/logo_nike_snkrs.svg");
}
.i-sbf-facebook {
  content: url("../imagens/logo_redes_sociais_facebook.svg");
}
.i-sbf-instagram {
  content: url("../imagens/logo_redes_sociais_instagram.svg");
}
.i-sbf-youtube {
  content: url("../imagens/logo_redes_sociais_youtube.svg");
}
.i-sbf-snkrs {
  content: url("../imagens/logo_snkrs.svg");
}
.i-sbf-pgto-amex {
  content: url("../imagens/pgto_Amex.svg");
}
.i-sbf-pgto-boleto {
  content: url("../imagens/pgto_Boleto.svg");
}
.i-sbf-pgto-discover {
  content: url("../imagens/pgto_Discover.svg");
}
.i-sbf-pgto-elo {
  content: url("../imagens/pgto_Elo.svg");
}
.i-sbf-pgto-hipercard {
  content: url("../imagens/pgto_Hipercard.svg");
}
.i-sbf-pgto-mastercard {
  content: url("../imagens/pgto_Mastercard.svg");
}
.i-sbf-pgto-visa {
  content: url("../imagens/pgto_Visa.svg");
}
/* buttons */
.sbf-btn-buscar,
.sbf-btn-cadastrar {
  width: 110px;
  margin: 0 20px;
  color: #fff;
  background-color: #000;
  font-weight: bold;
  border-radius: 1.5rem;
  height: 3rem;
}
.sbf-btn-cadastrar {
  width: 200px;
}
.background-rounded-btn {
  background-color: #fff;
  padding: 5px 8px;
  margin: -5px;
  border-radius: 1rem;
}
/* page items */
.sbf-title {
  padding: 20px;
  font-weight: bold;
}
.sbf-subtitle {
  padding: 20px 0 0 0;
  font-weight: bold;
}
.hr-footer {
  color: #fff;
  margin: 30px 0;
}
/*# sourceMappingURL=style.css.map */