<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/bootstrap-5.1.1-dist/css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="css/style.min.css">

    <title>SBF - Geolocalização</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap/bootstrap-5.1.1-dist/css/bootstrap-utilities.css">
    <!-- Vue -->
    <script src="js/vue/vue.min.js"></script>
</head>
<body>
<main id="app">
    <section class="fixed-top">
        <top-divider></top-divider>
        <upper-divider></upper-divider>
        <middle-divider></middle-divider>
    </section>
    <section class="main-content">
        <div class="container text-sm-center">
            <div class="row justify-content-sm-center">
                <div class="d-flex col-sm-12 justify-content-center sbf-title">
                    <h2 class="fw-bold">Lojas</h2>
                </div>
                <div class="d-flex col-md-7 align-items-center" style="width: auto">
                    <div class="d-md-flex input-group">
                        <span class="sbf-busca-coordenada-icon">
                            <i class="i-sbf-lupa"></i>
                        </span>
                        <input id="coords" type="text" class="sbf-busca-coordenada text-dark" placeholder="Buscar por coordenada">
                    </div>
                    <span class="d-none d-md-flex">
                        <button type="button" @click="getMapByCoords" class="btn sbf-btn-buscar">Buscar</button>
                    </span>
                </div>
                <div class="d-flex col-sm-12 align-items-baseline justify-content-center d-block d-md-none">
                    <span class="d-sm-flex">
                        <button type="button" @click="getMapByCoords" class="btn sbf-btn-buscar">Buscar</button>
                    </span>
                </div>
            </div>

            <div class="d-flex col-md-12 map-container">
                <div v-if="storesByDistanceFromLocation.length" class="col-md-6 col-sm-12">
                    <div class="map-description">
                        <span class="map-description-sort">Menor distância <i class="i-sbf-seta-baixo px-3"></i></span>

                        <div class="map-results">
                            <div v-for="item in storesByDistanceFromLocation">
                                <div class="row map-description-header align-content-sm-stretch">
                                    <div class="col justify-content-md-start">
                                        <h4 class="float-start fw-bold" v-html="item.storeName"></h4>
                                    </div>
                                    <div class="col justify-content-md-end">
                                        <span class="float-end fw-bold" v-html="item.storeDistance"></span>
                                    </div>
                                    <div class="col-sm-12 map-pin-modal justify-content-start d-block d-md-none">
                                        <i class="i-sbf-pin-link"></i> <a href="#" @click="toggleMapFullscreen" data-bs-toggle="modal" data-bs-target="#modalMap" class="text-black text-decoration-underline"> Ver no mapa</a>
                                    </div>
                                </div>

                                <div class="map-card">
                                    <span v-html="item.storeAddress"></span>

                                    <br>
                                    <span>Atendimento:</span>
                                    <span v-html="item.storePeriod"></span>

                                    <br>
                                    <span class="map-card-availability" v-html="item.storeAvailability"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div id="map" style="height: 100%"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="bottom">
        <bottom-divider></bottom-divider>
        <footer-divider></footer-divider>
    </section>
    <!-- modal -->
    <div class="modal fade" id="modalMap" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Mapa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="mapFullscreen" style="height: 100%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modalError" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Erro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>O valor digitado não corresponde a uma coordenada válida!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Bootstrap JS -->
<script src="bootstrap/bootstrap-5.1.1-dist/js/bootstrap.min.js"></script>
<!-- JQuery -->
<script src="js/jquery/jquery-3.6.0.min.js"></script>

<!-- Vue Components -->
<script src="js/components/top-divider.component.js"></script>
<script src="js/components/upper-divider.component.js"></script>
<script src="js/components/middle-divider.component.js"></script>
<script src="js/components/bottom-divider.component.js"></script>
<script src="js/components/footer-divider.component.js"></script>

<!-- Vue Script -->
<script src="js/app.js"></script>

<!-- Google API -->
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2CjopfdsM5Y6e8nc3k8EU28aAxc8sS2I&libraries=places&v=weekly"
        async
></script>
<!-- SlimScroll -->
<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
</body>
</html>
